<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>入力画面</title>
</head>

<body>
	<p>自己紹介の内容を記入して下さい</p>
	<form th:action="@{/input/create}" th:object="${inputRequest}" method="post">
		<div class="form-group">
			<div th:if="${nameError}" th:text="${nameError}"></div>
			<label>名前</label><span>必須</span>
			<input type="text" name="name" th:value="${nameRecord}">
		</div><br>
		<div class="form-group">
			<div th:if="${kanaError}" th:text="${kanaError}"></div>
			<label>フリガナ</label><span>必須</span>
			<input type="text" name="kana" th:value="${kanaRecord}">
		</div><br>
		<div class="form-group">
			<label>性別</label>
			<div th:each="item : ${radioGender}" class="form-check-inline">
				<input type="radio" name="gender" class="form-check-input" th:value="${item}" th:text="${item}"
					th:checked="${item == genderRecord}">
			</div>
		</div><br>
		<div class="form-group">
			<div th:if="${hobbyError}" th:text="${hobbyError}"></div>
			<label>趣味</label><span>必須</span>
			<div th:each="item : ${checkHobby}">
				<input type="checkbox" name="hobby" th:value="${item}" th:text="${item}"
					th:checked="${hobbyRecord !=null and hobbyRecord.contains(item)}">
			</div><br>
			<div class="form-group">
				<div th:if="${wordError}" th:text="${wordError}"></div>
				<label>一言</label>
				<input type="text" name="word" th:value="${wordRecord}"><br>
			</div>
			<input type="submit" value="次へ">
	</form>
	<a th:href="@{/top}">戻る</a>
</body>

</html>