<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP画面</title>
</head>
<body>
	<form th:action="@{/user/input}" method="post">
		<h2>自己紹介登録</h2>
		<input type="submit" value="登録/更新">
		<p>新しく自己紹介を作ります。<br>あなたをより知ってもらうために、<br>趣味や一言を工夫しましょう。<br>最高の自己紹介を完成させて、よりあなたを<br>知ってもらえるチャンスにしましょう。</p>
	</form>
	<form th:action = "@{/user/list}" method="post">
		<h2>自己紹介登録者一覧</h2>
		<input type="submit" value="一覧画面へ">
		<p>登録している人を確認します。<br>登録している人の自己紹介記事をみてみましょう。</p>
	</form>
	<form th:action="@{/logout}" method="post">
        <input type="submit" name="logout" value="ログアウト"/>
    </form>
</body>
</html>